{% extends 'base.html' %}
{% block base %}

<h1 class="text-center bg-light" style="color:indigo;">Student Home</h1>

<div class="container-fluid" style="min-height:70vh">

    <!-- Messages -->
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}

    {% if data %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DOB</th>
                <th>DEPT</th>
                <th>YEAR</th>
                <th>PHOTO</th>
                <th>ACTION</th>
            </tr>
        </thead>

        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.dob }}</td>
                <td>{{ i.dept }}</td>
                <td>{{ i.year }}</td>
                <td>
                    <img src="{{ i.photo.url }}" width="150px">
                </td>
                <td>
                    <a href="{% url 'editstud' i.id %}"  class="btn btn-success">EDIT</a>
                    <a href="{% url 'delstud' i.id %}"  class="btn btn-danger">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h4 class="display-4 text-center m-5 text-center bg-light" style="color:#212529;">No Students Added Yet!</h4>
    {% endif %}

</div>

{% endblock %}
